.updates {
  & > div {
    margin-bottom: 2rem;
  }
}

.update {
  &__list {
    list-style: circle;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5em;
    }
  }
}

@media (max-width: 480px) {
  .card-update .card-content {
    padding: 15px;

    .card-title {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .updates {
    & > div {
      margin-bottom: 1rem;
    }
  }
}
