// colors
$color-dark: #333;
$color-white: #fff;
$color-danger: #fa575c;
$color-success: #3ab7a9;
$color-primary: #6cc4ea;
$color-warning: #f78b26;
$color-info: #ffe89c;
$color-grey: #ccc;
$color-grey-light: #f1f1f1;
$color-grey-dark: #888;

// durations
$duration-fast: 100ms;
$duration-normal: 250ms;
$duration-medium: 500ms;

// font-sizes
$size-xs: 14px;
$size-sm: 16px;
$size-md: 1.3rem;
$size-lg: 1.7rem;

// weights
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
