.player {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 1.5em;

  &__reset {
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
  }

  &__delete {
    cursor: pointer;
  }
}
