.alert {
  position: fixed;
  z-index: 200;
  bottom: 10px;
  left: 50%;
  max-width: 80vw;
  min-width: 200px;
  transform: translateX(-50%);
  color: #fff;
  font-weight: normal;

  &__text {
    margin-right: 20px;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }
}
